/* GitHub Modal Styles */
.github-avatar {
  max-width: 250px;
  border-radius: 10px;
}

.github-link {
  color: #6cb2eb;
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}

.modal-content {
  border: none;
}
